.App {
  text-align: center;
}

form {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form h1 {
  text-align: center;
}

.form-data {
  display: flex;
  justify-content: center;
  padding: 10px;
}

textarea {
  min-width: 242px;
}